
.Menu {
  background-color: black;
  width: 160px;
  height: 100%;
  transition: all 0.2s linear;

  .list {
    li {
      padding: 12px 12px;
      color: white;
      border-bottom: 1px solid #999;
      cursor: pointer;
      &:hover {
        font-weight: 600;
        transform: translateX(4px);
        transition: all 0.2s linear;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .Menu {
    position: fixed;
    top: 0;
    left: -160px;
  }
}