.Card {
  margin-top: 50px;
  padding: 0 16px;

  .content {
    display: block;
    margin-top: 10px;
    img {
      width: 40%;
      display: inline;
      float: left;
      margin-right: 10px;
    }
    p {
      text-align: left;
    }
  }
}